.jumbotron { background-color: yellow; color: black; margin-top: 56px}

/*.btn { background-color: green; }*/

footer{ padding: 10px 10px 0 10px; background-color:yellow; margin-bottom:0; margin-top: 10px}

.card-hotel{ flex: 1 150px; /*padding: 3px*/}

.reserva.btn{ border-radius: 0}

/*.card-hotel .btn{width: 100%}*/
