$amarillo: yellow;
$rojo: red;
$verde: green;
$negro: black;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron { 
	background-color: $amarillo; 
	color: $negro; 
	@include margenes(56px, 0);
}

footer{ 
	padding: 10px 10px 0 10px; 
	background-color: $amarillo; 
	@include margenes(10px, 0);
}

.card-hotel{ flex: 1 150px;}

.reserva.btn{ border-radius: 0}
